* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}


.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}
