.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: rgb(238, 224, 224);
}

.about-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.about-content {
  position: relative;
  z-index: 1;
  padding: 2rem 1rem;
  background: rgba(0, 0, 0, 0.5); /* capa oscura para leer el texto */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #d1c2c2;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 800px;
}

.about-button {
  background-color: transparent;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #d1c2c2;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #f1e682;
  border: solid 1px #f1e682;
  color: black;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* TABLET */
@media (min-width: 768px) {
  .about-title {
    font-size: 2.5rem;
  }

  .about-description {
    font-size: 1.2rem;
  }

  .about-button {
    padding: 1rem 2rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .about-title {
    font-size: 3rem;
  }

  .about-description {
    font-size: 1.3rem;
  }
}

/* ANIMACIONES */

.fade-title,
.fade-paragraph {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
