<section class="about-section" id="about">
  <video autoplay muted loop playsinline class="about-bg-video">
    <source
      src="/assets/videos/Coverr-Putting-Wood-On-A-Machine-8859-1080P.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta videos en HTML5.
  </video>

  <div class="about-content">
    <h2 class="about-title fade-title">Sobre Nosotros</h2>
    <p class="about-description fade-paragraph">
      Con nuestros productos nos proponemos llegar a cada hogar con lo esencial
      para un buen descanso: un colchón y un respaldo que brinden confort,
      estilo y durabilidad. Ofrecemos una línea cuidadosamente seleccionada de
      <strong>respaldos de madera</strong>, <strong>sommieres</strong> y
      <strong>almohadas</strong>, fabricados con materiales de alta calidad y
      terminaciones que garantizan <strong>comodidad y resistencia</strong>.
      Nuestro compromiso está centrado en la
      <strong>excelencia del producto</strong> y la
      <strong>satisfacción de cada cliente</strong>.
      <strong
        >Hecho en nuestra mueblería y directo de fábrica, para que tu descanso
        sea tan auténtico como nuestro trabajo.</strong
      >
    </p>
    <a href="#products" class="about-button">Ver Productos</a>
  </div>
</section>
